<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN">

<hibernate-configuration>
<session-factory>
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/sos_1</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">cc-1234</property>/>
<property name="hibernate.show_sql">true</property>
<property name="hibernate.format_sql">true</property>
<property name="hibernate.pool_size">10</property>
<property name="hibernate.hbm2dll.auto">create</property>

<mapping class="controle.Pessoa"/>
<mapping class="controle.PF"/>
<mapping class="controle.PJ"/>
<mapping class="controle.DocReceita"/>
<mapping class="controle.CPF"/>
<mapping class="controle.CNPJ"/>
<mapping class="controle.Telefone"/>
<mapping class="controle.Endereco"/>
<mapping class="controle.Animal"/>
<mapping class="controle.Cachorro"/>
<mapping class="controle.Gato"/>
<mapping class="controle.Servico"/>
<mapping class="controle.Banho"/>
<mapping class="controle.Consulta"/>
<mapping class="controle.Tosa"/>
<mapping class="controle.Vacina"/>

</session-factory>

</hibernate-configuration>