body {
    background-color: #EBEBEB;
    margin: 0px;
}

body {
    background-image:  url(../images/fundo.png);
}
table{
    background-color: #EBEBEB;
}
.TopoTit {
    font-family: "Trebuchet MS";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #990000;
    background-color: #DBDBDB;
    padding: 10px;
}
.TextoTit {
    font-family: "Trebuchet MS";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #99999;
    background-color: #DBDBDB;
    padding: 10px;
}
.TopoMenu {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #990000;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #FFFFFF;
    padding: 5px;
    text-align: center;
}
.TabGeral {
    width: 100%;
}
.Cont {
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #666666;
}
input {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #666666;
}
.Txt {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #666666;
    padding: 5px;
}

.TxtCopyright {
    font-family: Verdana;
    font-size: 8px;
    color: #666666;
    padding: 5px;
    background-color: #DBDBDB;
    border-top-width: 0px;
    border-top-style: solid;
    border-top-color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
.ContTabTit {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #990000;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #EBEBEB;
    text-transform: uppercase;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EBEBEB;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ContTabTxt {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    background-color: #333333;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000000;
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    vertical-align: middle;
}
select {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #666666;
}
textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #666666;
}